* {
  margin: 0;
  font-family: "BalooBhai";
  //overflow-y: hidden;
}
@font-face {
  font-family: "BalooBhai";
  src: url("/fonts/BalooBhai-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
